<html>

<head>
    <link rel="stylesheet" href="./boostrap.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="#" class="navbar-brand">boostrap Website</a>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li><a href="./index.html" class="nav-link">Home</a></li>
                <li><a href="./about.html" class="nav-link">About</a></li>
                <li><a href="./service.html" class="nav-link">Services</a></li>
                <li><a href="./employee.html" class="nav-link">Employee</a></li>
                <li><a href="./contact.html" class="nav-link">Contact</a></li>
                <li><a href="./login.html" class="nav-link">Login</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h1>service Page</h1>
    </div>
    <div class="container">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">Web Application Dev</li>
                <li class="list-group-item">Web Application Dev</li>
                <li class="list-group-item">Web Application Dev</li>
                <li class="list-group-item">Web Application Dev</li>
                <li class="list-group-item">Web Application Dev</li>
                <li class="list-group-item">Web Application Dev</li>
            </ul>
        </div>
    </div>
</body>

</html>