<html>

<head>
    <link rel="stylesheet" href="./boostrap.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="#" class="navbar-brand">boostrap Website</a>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li><a href="./index.html" class="nav-link">Home</a></li>
                <li><a href="./about.html" class="nav-link">About</a></li>
                <li><a href="./service.html" class="nav-link">Services</a></li>
                <li><a href="./employee.html" class="nav-link">Employee</a></li>
                <li><a href="./contact.html" class="nav-link">Contact</a></li>
                <li><a href="./login.html" class="nav-link">Login</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h1>Login Page Page</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form>
                    <div class="form-group">
                        <label>User Name:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" />
                    </div>

                    <button class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h3>Signup Page</h3>
                    </div>

                    <div class="card-body">
                        <form >
                            <div class="form-group">
                                <input placeholder="Name" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input placeholder="Email" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input placeholder="Mobile" type="text" class="form-control" />
                            </div>
                            <div aria-colspan="DOB" class="form-group">
                                <input type="date" class="form-control" />
                            </div>
                            <button class="btn btn-warning">Singup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>